In [54]:
import pandas as pd 
import numpy as np
#Thư viện vẽ biểu đồ
import matplotlib.pyplot as plt 
import seaborn as sns 

import plotly.express as px
import warnings
warnings.filterwarnings('ignore')

In [55]:
#Đọc file excel
df = pd.read_csv(r'E:\pythonExcel\Telco.csv')
#In 5 dòng đầu của file excel
df.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason,Unnamed: 33,Unnamed: 34
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer,NaN,NaN
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Electronic check,70.70,151.65,Yes,1,67,2701,Moved,NaN,"cột đỏ là lấy, đen bỏ"
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Electronic check,99.65,820.5,Yes,1,86,5372,Moved,NaN,NaN
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved,NaN,NaN
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices,NaN,NaN

In [56]:
#Xem thuộc tính và kiểu dữ liệu của thuộc tính
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 35 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   object
 10  Senior Citizen     7043 non-null   object
 11  Partner            7043 non-null   object
 12  Dependents         7043 non-null   object
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   object
 15  Multiple Lines     7043 non-null   object
 16  Internet Service   7043 non-null   object
 17  Online Security    7043 non-null   object
 18  Online Backup      7043 non-null   object
 19  Device Protection  7043 non-null   object
 20  Tech Support       7043 non-null   object
 21  Streaming TV       7043 non-null   object
 22  Streaming Movies   7043 non-null   object
 23  Contract           7043 non-null   object
 24  Paperless Billing  7043 non-null   object
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7043 non-null   object
 28  Churn Label        7043 non-null   object
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
 32  Churn Reason       1869 non-null   object
 33  Unnamed: 33        0 non-null      float64
 34  Unnamed: 34        1 non-null      object
dtypes: float64(4), int64(6), object(25)
memory usage: 1.9+ MB

In [57]:
#Vì Total Charges có kiểu dữ liệu là object nên chuyển thành kiểu dữ liệu số:
df['Total Charges'] = pd.to_numeric(df['Total Charges'], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 35 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   object
 10  Senior Citizen     7043 non-null   object
 11  Partner            7043 non-null   object
 12  Dependents         7043 non-null   object
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   object
 15  Multiple Lines     7043 non-null   object
 16  Internet Service   7043 non-null   object
 17  Online Security    7043 non-null   object
 18  Online Backup      7043 non-null   object
 19  Device Protection  7043 non-null   object
 20  Tech Support       7043 non-null   object
 21  Streaming TV       7043 non-null   object
 22  Streaming Movies   7043 non-null   object
 23  Contract           7043 non-null   object
 24  Paperless Billing  7043 non-null   object
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7032 non-null   float64
 28  Churn Label        7043 non-null   object
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
 32  Churn Reason       1869 non-null   object
 33  Unnamed: 33        0 non-null      float64
 34  Unnamed: 34        1 non-null      object
dtypes: float64(5), int64(6), object(24)
memory usage: 1.9+ MB

In [58]:
#Kiểm tra null
df.isnull().sum()

CustomerID              0
Count                   0
Country                 0
State                   0
City                    0
Zip Code                0
Lat Long                0
Latitude                0
Longitude               0
Gender                  0
Senior Citizen          0
Partner                 0
Dependents              0
Tenure Months           0
Phone Service           0
Multiple Lines          0
Internet Service        0
Online Security         0
Online Backup           0
Device Protection       0
Tech Support            0
Streaming TV            0
Streaming Movies        0
Contract                0
Paperless Billing       0
Payment Method          0
Monthly Charges         0
Total Charges          11
Churn Label             0
Churn Value             0
Churn Score             0
CLTV                    0
Churn Reason         5174
Unnamed: 33          7043
Unnamed: 34          7042
dtype: int64

In [59]:
#Vì cột Total Charges có chứa giá trị null -> tiến hành xử lí các giá trị bị null trong cột total charges
df[df['Total Charges'].isna()]

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason,Unnamed: 33,Unnamed: 34
2234,4472-LVYGI,1,United States,California,San Bernardino,92408,"34.084909, -117.258107",34.084909,-117.258107,Female,...,Bank transfer (automatic),52.55,NaN,No,0,36,2578,NaN,NaN,NaN
2438,3115-CZMZD,1,United States,California,Independence,93526,"36.869584, -118.189241",36.869584,-118.189241,Male,...,Mailed check,20.25,NaN,No,0,68,5504,NaN,NaN,NaN
2568,5709-LVOEQ,1,United States,California,San Mateo,94401,"37.590421, -122.306467",37.590421,-122.306467,Female,...,Mailed check,80.85,NaN,No,0,45,2048,NaN,NaN,NaN
2667,4367-NUYAO,1,United States,California,Cupertino,95014,"37.306612, -122.080621",37.306612,-122.080621,Male,...,Mailed check,25.75,NaN,No,0,48,4950,NaN,NaN,NaN
2856,1371-DWPAZ,1,United States,California,Redcrest,95569,"40.363446, -123.835041",40.363446,-123.835041,Female,...,Credit card (automatic),56.05,NaN,No,0,30,4740,NaN,NaN,NaN
4331,7644-OMVMY,1,United States,California,Los Angeles,90029,"34.089953, -118.294824",34.089953,-118.294824,Male,...,Mailed check,19.85,NaN,No,0,53,2019,NaN,NaN,NaN
4687,3213-VVOLG,1,United States,California,Sun City,92585,"33.739412, -117.173334",33.739412,-117.173334,Male,...,Mailed check,25.35,NaN,No,0,49,2299,NaN,NaN,NaN
5104,2520-SGTTA,1,United States,California,Ben Lomond,95005,"37.078873, -122.090386",37.078873,-122.090386,Female,...,Mailed check,20.00,NaN,No,0,27,3763,NaN,NaN,NaN
5719,2923-ARZLG,1,United States,California,La Verne,91750,"34.144703, -117.770299",34.144703,-117.770299,Male,...,Mailed check,19.70,NaN,No,0,69,4890,NaN,NaN,NaN
6772,4075-WKNIU,1,United States,California,Bell,90201,"33.970343, -118.171368",33.970343,-118.171368,Female,...,Mailed check,73.35,NaN,No,0,44,2342,NaN,NaN,NaN
6840,2775-SEFEE,1,United States,California,Wilmington,90744,"33.782068, -118.262263",33.782068,-118.262263,Male,...,Bank transfer (automatic),61.90,NaN,No,0,65,5188,NaN,NaN,NaN

In [60]:
#Tạo một bảng mới để tính cột total charges. 
df['calc_charges'] = df['Monthly Charges'] * df['Tenure Months']
#Nếu total charge = NaN thì gán cho total charges = giá trị bảng mới, ngược lại thì giữ nguyên
df['Total Charges'] = np.where(df['Total Charges'].isna() == True,df['calc_charges'], df['Total Charges'])
#Xóa giá trị bảng mới
df = df.drop(['calc_charges'], axis=1)
#Kiểm tra xem còn hàng nào NaN không
df[df['Total Charges'].isna()]

Empty DataFrame
Columns: [CustomerID, Count, Country, State, City, Zip Code, Lat Long, Latitude, Longitude, Gender, Senior Citizen, Partner, Dependents, Tenure Months, Phone Service, Multiple Lines, Internet Service, Online Security, Online Backup, Device Protection, Tech Support, Streaming TV, Streaming Movies, Contract, Paperless Billing, Payment Method, Monthly Charges, Total Charges, Churn Label, Churn Value, Churn Score, CLTV, Churn Reason, Unnamed: 33, Unnamed: 34]
Index: []

[0 rows x 35 columns]

In [61]:
#Thay đổi yes/no sang 0/1  
df['Senior Citizen'].replace(to_replace='Yes', value=1, inplace=True)
df['Senior Citizen'].replace(to_replace='No',  value=0, inplace=True)

df['Partner'].replace(to_replace='Yes', value=1, inplace=True)
df['Partner'].replace(to_replace='No',  value=0, inplace=True)

df['Dependents'].replace(to_replace='Yes', value=1, inplace=True)
df['Dependents'].replace(to_replace='No',  value=0, inplace=True)

df['Multiple Lines'].replace(to_replace='Yes', value=1, inplace=True)
df['Multiple Lines'].replace(to_replace='No',  value=0, inplace=True)

df['Phone Service'].replace(to_replace='Yes', value=1, inplace=True)
df['Phone Service'].replace(to_replace='No',  value=0, inplace=True)

df['Online Security'].replace(to_replace='Yes', value=1, inplace=True)
df['Online Security'].replace(to_replace='No',  value=0, inplace=True)

df['Online Backup'].replace(to_replace='Yes', value=1, inplace=True)
df['Online Backup'].replace(to_replace='No',  value=0, inplace=True)

df['Device Protection'].replace(to_replace='Yes', value=1, inplace=True)
df['Device Protection'].replace(to_replace='No',  value=0, inplace=True)

df['Tech Support'].replace(to_replace='Yes', value=1, inplace=True)
df['Tech Support'].replace(to_replace='No',  value=0, inplace=True)

df['Streaming TV'].replace(to_replace='Yes', value=1, inplace=True)
df['Streaming TV'].replace(to_replace='No',  value=0, inplace=True)

df['Streaming Movies'].replace(to_replace='Yes', value=1, inplace=True)
df['Streaming Movies'].replace(to_replace='No',  value=0, inplace=True)


print("Dữ liệu sau khi sửa là:")
df.head(10)

Dữ liệu sau khi sửa là:

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason,Unnamed: 33,Unnamed: 34
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer,NaN,NaN
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Electronic check,70.70,151.65,Yes,1,67,2701,Moved,NaN,"cột đỏ là lấy, đen bỏ"
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Electronic check,99.65,820.50,Yes,1,86,5372,Moved,NaN,NaN
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved,NaN,NaN
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Bank transfer (automatic),103.70,5036.30,Yes,1,89,5340,Competitor had better devices,NaN,NaN
5,4190-MFLUW,1,United States,California,Los Angeles,90020,"34.066367, -118.309868",34.066367,-118.309868,Female,...,Credit card (automatic),55.20,528.35,Yes,1,78,5925,Competitor offered higher download speeds,NaN,NaN
6,8779-QRDMV,1,United States,California,Los Angeles,90022,"34.02381, -118.156582",34.023810,-118.156582,Male,...,Electronic check,39.65,39.65,Yes,1,100,5433,Competitor offered more data,NaN,NaN
7,1066-JKSGK,1,United States,California,Los Angeles,90024,"34.066303, -118.435479",34.066303,-118.435479,Male,...,Mailed check,20.15,20.15,Yes,1,92,4832,Competitor made better offer,NaN,NaN
8,6467-CHFZW,1,United States,California,Los Angeles,90028,"34.099869, -118.326843",34.099869,-118.326843,Male,...,Electronic check,99.35,4749.15,Yes,1,77,5789,Competitor had better devices,NaN,NaN
9,8665-UTDHZ,1,United States,California,Los Angeles,90029,"34.089953, -118.294824",34.089953,-118.294824,Male,...,Electronic check,30.20,30.20,Yes,1,97,2915,Competitor had better devices,NaN,NaN

In [62]:
#Loại bỏ những cột không cần thiết
df.drop(columns=['Churn Value','Churn Score','CustomerID','Lat Long','Latitude','Longitude'], inplace=True)
print("Dữ liệu sau khi xử lí là: ")
df.head()

Dữ liệu sau khi xử lí là:

,Count,Country,State,City,Zip Code,Gender,Senior Citizen,Partner,Dependents,Tenure Months,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,CLTV,Churn Reason,Unnamed: 33,Unnamed: 34
0,1,United States,California,Los Angeles,90003,Male,0,0,0,2,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,3239,Competitor made better offer,NaN,NaN
1,1,United States,California,Los Angeles,90005,Female,0,0,1,2,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,2701,Moved,NaN,"cột đỏ là lấy, đen bỏ"
2,1,United States,California,Los Angeles,90006,Female,0,0,1,8,...,Month-to-month,Yes,Electronic check,99.65,820.50,Yes,5372,Moved,NaN,NaN
3,1,United States,California,Los Angeles,90010,Female,0,1,1,28,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,5003,Moved,NaN,NaN
4,1,United States,California,Los Angeles,90015,Male,0,0,1,49,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.30,Yes,5340,Competitor had better devices,NaN,NaN

In [63]:
#Trả về số lượng cột của các kiểu dữ liệu
print(f"""Số lượng cột của từng kiểu dữ liệu là:
float: {len(df.select_dtypes('float').columns)}
int : {len(df.select_dtypes('int').columns)}
object : {len(df.select_dtypes('object').columns)}
""")

Số lượng cột của từng kiểu dữ liệu là:
float: 3
int : 8
object : 18

In [64]:
df = df[df['Phone Service'] != "No internet service"]
df = df[df['Multiple Lines'] != "No phone service"]
df = df[df['Online Security'] != "No internet service"]
df = df[df['Online Backup'] != "No internet service"]
df = df[df['Tech Support'] != "No internet service"]
df = df[df['Streaming TV'] != "No internet service"]
df = df[df['Streaming Movies'] != "No internet service"]

In [65]:
#Tải file excel sau khi làm sạch
df.to_csv('du_lieu_sau_khi_lam_sach.csv', index=False)

PermissionError: [Errno 13] Permission denied: 'du_lieu_sau_khi_lam_sach.csv'